.b-brand {
  display: flex;
  align-items: center;
  white-space: nowrap;

  img {
    flex-shrink: 0; // Prevents logo from shrinking
    min-width: 30px;
  }

  .b-title {
    overflow: hidden;
    transition: opacity 0.3s;
  }
}

// When sidebar is collapsed, hide the text but keep the logo
:host-context(.nav-collapsed) .b-brand .b-title {
  opacity: 0;
  width: 0;
  margin-left: 0;
}