<div class="d-flex justify-content-between align-items-center mb-3"> 
  <h3>Daily Board</h3>
  <input type="date" [(ngModel)]="selectedDate" (change)="filterJobs()" [value]="selectedDate" class="form-control custom-date-input">
</div>

<div class="daily-board">
  <div *ngIf="filteredJobs.length === 0" class="no-jobs-message">
    <p>No jobs available for the selected date.</p>
  </div>

  <mat-card class="job-card" *ngFor="let job of filteredJobs">
    <mat-card-header>
      <div class="job-info">
        <div class="job-details">
          <mat-card-title class="job-title" style="font-weight: bold; color: black;">
            {{ job.jobName }} (<span style="font-weight: bold; color: black;">{{ job.jobNumber }}</span>)
          </mat-card-title>
          <mat-card-subtitle class="job-location">
            {{ job.startLocation }} → {{ job.endLocation }}
          </mat-card-subtitle>
          <mat-card-subtitle class="job-material">
            {{ job.material }} 
          </mat-card-subtitle>
        </div>
        <div class="foremen">
          <p *ngFor="let foreman of job.foremen">
            Foreman:
            <span matTooltip="{{ foreman.phone }}" matTooltipPosition="above" class="foreman-name">
              {{ foreman.name }}
            </span>
          </p>
        </div>
      </div>
    </mat-card-header>

    <mat-card-content>
      <table mat-table [dataSource]="job.assignments" class="mat-elevation-z2">
        <ng-container matColumnDef="startTime">
          <th mat-header-cell *matHeaderCellDef style="font-weight: bold; color: black;"> Start Time </th>
          <td mat-cell *matCellDef="let assignment">
            {{ (job.date + 'T' + assignment.startTime) | date: 'shortTime' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="truckName">
          <th mat-header-cell *matHeaderCellDef style="font-weight: bold; color: black;"> Truck </th>
          <td mat-cell *matCellDef="let assignment">{{ assignment.truckName }}</td>
        </ng-container>

        <ng-container matColumnDef="driverName">
          <th mat-header-cell *matHeaderCellDef style="font-weight: bold; color: black;"> Driver </th>
          <td mat-cell *matCellDef="let assignment">{{ assignment.driverName }}</td>
        </ng-container>

        <ng-container matColumnDef="driverPhone">
          <th mat-header-cell *matHeaderCellDef style="font-weight: bold; color: black;"> Phone </th>
          <td mat-cell *matCellDef="let assignment">{{ assignment.driverPhone }}</td>
        </ng-container>

        <thead>
          <tr mat-header-row *matHeaderRowDef="['startTime', 'truckName', 'driverName', 'driverPhone']"></tr>
        </thead>
        <tbody>
          <tr mat-row *matRowDef="let assignment; columns: ['startTime', 'truckName', 'driverName', 'driverPhone']"></tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
</div>
