@if (!item().hidden) {
  @if (item().url && !item().external) {
    <li [ngClass]="item().classes" [routerLinkActive]="['active']">
      <a class="nav-link" [target]="item().target ? '_blank' : '_self'" [routerLink]="[item().url]" (click)="closeOtherMenu($event)">
        <ng-container *ngTemplateOutlet="itemIcon"></ng-container>

        @if (item().icon) {
          <span class="pcoded-mtext">{{ item().title }}</span>
        } @else {
          {{ item().title }}
        }
        <ng-template #directTitle>
          {{ item().title }}
        </ng-template>
      </a>
    </li>
  }
  @if (item().url && item().external) {
    <li [ngClass]="item().classes">
      <a [target]="item().target ? '_blank' : '_self'" [href]="item().url">
        <ng-container *ngTemplateOutlet="itemIcon"></ng-container>
        @if (item().icon) {
          <span class="pcoded-mtext">{{ item().title }}</span>
        } @else {
          {{ item().title }}
        }
        <ng-template #directTitle>
          {{ item().title }}
        </ng-template>
      </a>
    </li>
  }
  <ng-template #itemIcon>
    @if (item().icon) {
      <span class="pcoded-micon">
        @if (item().title === 'Fleet') {
          <!-- Insert Truck SVG manually for Fleet -->
          <svg xmlns="http://www.w3.org/2000/svg"
               width="18" height="18" viewBox="0 0 24 24"
               fill="none" stroke="currentColor" stroke-width="2"
               stroke-linecap="round" stroke-linejoin="round"
               class="feather feather-truck">
            <rect x="1" y="3" width="15" height="13"></rect>
            <polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon>
            <circle cx="5.5" cy="18.5" r="2.5"></circle>
            <circle cx="18.5" cy="18.5" r="2.5"></circle>
          </svg>
        } @else {
          <!-- Normal icon for everything else -->
          <i class="feather" [ngClass]="item().icon"></i>
        }
      </span>
    }
  </ng-template>
  
}
